/Lib/site-packages/pip-19.0.3-py3.6.egg/pip/_vendor/packaging/__about__.py
/Lib/site-packages/pip-19.0.3-py3.6.egg/pip/_vendor/chardet/cli/__init__.py
/Lib/site-packages/pip-19.0.3-py3.6.egg/pip/_vendor/chardet/__init__.py
